
/************************
03 Banner Box
*************************/

  .banner-title {
    background: #f0f0f0;
    padding: 20px 0px;
    font-size: 20px;
    text-align: center;
  }
  
  .banner-box {
    position: relative;
    display: block;
    overflow: hidden;
  }
  
  .banner-box img {
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
    width: 100%;
  }
  
  .banner-box h4 {
    color: #fff;
    font-size: 3.6rem;
    line-height: 1.5;
    text-transform: capitalize;
    position: absolute;
    top: 30px;
    left: 30px;
    max-width: 180px;
  }
  
  .banner-box:hover h4 {
    -webkit-animation: fadeInRight 0.5s linear;
    -moz-animation: fadeInRight 0.5s linear;
    -ms-animation: fadeInRight 0.5s linear;
    -o-animation: fadeInRight 0.5s linear;
    animation: fadeInRight 0.5s linear;
  }
  
  .zeref-top-dropdown .dropdown-menu, .cart-dropdown {
    border-radius: 0;
    padding: 0;
    margin: 0;
    border: none;
    -webkit-box-shadow: 0 0 7.2px 0.8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 0 7.2px 0.8px rgba(0, 0, 0, 0.1);
    -ms-box-shadow: 0 0 7.2px 0.8px rgba(0, 0, 0, 0.1);
    -o-box-shadow: 0 0 7.2px 0.8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 7.2px 0.8px rgba(0, 0, 0, 0.1);
    right: 0 !important;
    left: auto !important;
    min-width: 13rem;
  }
  
  .banner-box:hover img, .zeref-category-thumb img:hover {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    -moz-transform: scale3d(1.05, 1.05, 1.05);
    -ms-transform: scale3d(1.05, 1.05, 1.05);
    -o-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  .blue-bg {
    background: #333c4a;
  }
  
.banner .banner-content {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 5rem;
    transform: translateY(-50%);
    z-index: 9;
}
.banner .banner-title2 {
    padding-bottom: 0px;
}
.banner-des {
    padding-bottom: 15px;
    font-size: 30px;
}
.slider-s3 .banner-des {
    padding-bottom: 5px;
}
.banner .btn {
    padding: 10px 12px;
    color: #61605a;
    border: 1px solid #2c2e3d;
    background-color: transparent;
    text-align: center;
    text-transform: capitalize;
    line-height: 11px;
}
.banner .btn:hover {
  background: #2c2e3d;
}
.banner>a {
    display: block;
}
.banner img {
    display: block;
    max-width: none;
    width: 100%;
    height: auto;
}
.banner-4 {
  position: relative;
  color: #fff;
}
.banner-4 .overlay {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background: rgba(0, 0, 0, .6);
    color: #FFF;
}
.banner-4 .btn {
  border: none;
  background: #fff;
}

.single-banner-3 {
    position: relative;
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
    overflow: hidden;
}
.single-banner-3 a img {
    -webkit-transition: all .3s ease 0s;
    transition: all .3s ease 0s;
}
.single-banner-3:hover a img {
    transform: scale(1.2);
}
.single-banner-3 img {
    width: 100%;
}
.banner-content3-position1 {
    position: absolute;
    top: 0;
    padding-left: 25px;
    padding-top: 25px;
}
.common-banner-style-3 > h2 {
    color: #585858;
    font-size: 40px;
    font-weight: 500;
    line-height: 50px;
    margin: 0;
}
.common-banner-style-3 > h2 span {
    color: #ee3333;
}
.banner-box-area .container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}
.banner {
    position: relative;
}
.banner:hover::before, .banner:hover::after {
    height: 100%;
    transition: all 0.5s ease-out 0s;
    width: 100%;
}
.banner::before {
    background-color: rgba(0, 0, 0, 0.1);
    content: "";
    height: 0;
    left: 0;
    margin: auto;
    position: absolute;
    top: 0;
    transition: all 0.3s ease-out 0s;
    width: 0;
}
.banner::after {
    background-color: rgba(0, 0, 0, 0.1);
    bottom: 0;
    content: "";
    height: 0;
    position: absolute;
    right: 0;
    transition: all 0.3s ease-out 0s;
    width: 0;
}

.banner-style-2 .banner-content {
    color: #000 !important;
}