  .breadcumb-area {
    background: url(../../img/breadcrumb.jpg) no-repeat scroll center/cover;
  }
  
  .page-title {
    text-transform: capitalize;
    font-size: 2.8rem;
    letter-spacing: 2px;
    margin: 0;
  }
  
  .zeref-breadcumb {
    position: relative;
    display: inline-block;
    padding-right: 1.2rem;
  }
  
  .zeref-breadcumb:not(:last-child):after {
    position: absolute;
    content: ">";
    right: 0;
    top: 0;
    color: #fff;
  }
  
  .zeref-breadcumb-link {
    color: #fff;
    font-size: 2rem;
  }
  
  .zeref-breadcumb-link.current {
    color: #DB5C00;
  }
  a.zeref-breadcumb-link:hover {
    color: #fff;
  }